<!DOCTYPE html>

<head>
    <title>An interesting title that does a thing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="static/styles/main.css" />
    <link rel="icon" href="static/assets/page_icon.png">
</head>

<body>
    <div class='landing-paralax'>
        <div class="landing-text-block" id='home-text-block'>
            <h4>Alcova, Wyoming</h4>
            <h5>Jacob Nickodemus</h5>
        </div>
    </div>

    <div class='nav-bar'>
        <a class='active' href='/'><img src="https://img.icons8.com/material-rounded/24/000000/home.png"/> Home</a>
        <a href="/about"><img src="https://img.icons8.com/material-sharp/24/000000/about.png"/> About</a>
        <a href="https://ptable.com/#Properties/Series" target="_blank"><img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-flask-advertising-kiranshastry-solid-kiranshastry.png"/> Chemistry</a>
        <a href="/phys"><img src="https://img.icons8.com/ios-glyphs/30/000000/rocket.png"/> Physics</a>            
       <!-- <a href='/math'><img src="https://img.icons8.com/material-rounded/24/000000/math.png"/> Math</a> -->
    </div>
    <div class='page-body'>
        <p> 
            Julia Nickodemus is a recreational coder in high school. She lives in Utah. Her interests include Deep Learning,
            Natural Language Processsing, and low level system's programing. Her primary langage of choice is Python (this site is
            built using flask), but she also works on C++ for her robotics team. 
        </p>
        
    </div>
    
    <footer>
        <span>
            <a href='https://twitter.com/OmnipotentTato' target='_blank' rel='noreferrer noopener'><img class='footer-img' src="https://img.icons8.com/ios-filled/50/000000/twitter-circled--v1.png"/></a>
            <a href='https://www.instagram.com/nickodemus.j/?hl=en' target='_blank' rel='noreferrer noopener' ><img class='footer-img' src="https://img.icons8.com/ios-filled/50/000000/instagram-new--v1.png"/></a>
        </span>
    </footer>
    <script src='static/js/textBlockOpacity.js'></script>
</body>